/*tutti i paragrafi colorati di blu*/
p{
    color:blue;
}

/*Tutti gli elementi che hanno la classe "testo rosso" */
.testo-rosso{
    color: red;
}

/*L'elemento con ID "sezione-2" */
#sezione-2 {
    color: purple;
}


/*Tutti gli elementi di tipo A che hanno la classe "testo-rosso" */
a.testo-rosso{
    color: red;
}

/*Tutti gli elementi di tipo A che hanno le classi "testo-rosso" E "testo-marrone*/
a.testo-rosso.testo-marrone {
color:darkred
}

/*Tutti gli elementi di tipo A racchiusi all'interno di un paragrafo con classe "testo-principale*/
.testo-principale a {
color: yellow;
}

/*Tutti gli elementi figli di un paragrafo
*/
p > * {
    color: green;
}

/*Seleziona l'elemento di tipo A su cui l'utente ha il mouse
*/
a:hover {
    color:white
}

/*Seleziona gli elementi che NON hanno classe "io-no"
*/
:not(.io-no) {
    color: blue;
}

/*Selezione dei figli */

:first-child /*Primo Figlio*/
:last-child /*Ultimo Figlio*/
:nth-child(2)  /*N-simo figlio in questo caso secondo figlio*/
:nth-child(2n) /*Figli pari*/
:nth-child(even)/*Figli pari*/
:nth-child(2n+1)/*Figli dispari*/
:nth-child(odd)/*Figli dispari*/
:nth-child(3)/*Un figlio ogni 3*/

/*Regole CSS base*/

body {
    font-size: 16px;
}

p {
    color: #f9f9f9;
    background-color: #111111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em; /*esiste anche come unità di misura em oltre al pixel*/
    text-decoration: underline /*testo decorato con x cose* per eliminare scrivi none*/;
    text-align: left /* left, center, right, justify */;
    text-transform: uppercase;
}

p span {
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic /*corsivo*/;
}  
nav ul {
    list-style-type: none; 
} 

body {
    background-color: palegoldenrod;
}
div#spazi {
    background-color: blue;
        margin: 50px 30px;
        margin-top: 50px;
        margin-right: 30px;
        margin-bottom: 50px;
        margin-left: 30px;
    padding: 30px;
    border: 10px tomato solid;
        border-style: solid;
        border-width: 1px;
        border-color: #111111;
}
div#spazi-2 {background-color: darkblue;}
h1{ margin-bottom: 50px;}
h2{ margin-top: 20px;}